@using dojo_survey.Models 
@model Survey

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey</title>
</head>
<body>
    <h1>Dojo Survey</h1>
    <form asp-action="Submit" asp-controller="Survey" method="post">
        <span asp-validation-for="name"></span><br>
        <label asp-for="name">Your name: </label>
        <input asp-for="name"><br>
        <span asp-validation-for="location"></span><br>
        <label asp-for="location">Dojo Location: </label>
        <input asp-for="location"><br>
        <span asp-validation-for="language"></span><br>
        <label asp-for="language">Favorite Language: </label>
        <select asp-for="language">
            <option value="C#">C#</option>
            <option value="JavaScript">JavaScript</option>
            <option value="Python">Python</option>
        </select><br>
        <span asp-validation-for="comment"></span><br>
        <label asp-for="comment">Comment: </label>
        <textarea asp-for="comment" cols="30" rows="10"></textarea><br>
        <button>Submit</button>
    </form>
</body>
</html>