<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey</title>
</head>
<body>
    <h1>Dojo Survey</h1>
    <form action="result" method="post">
        <label for="name">Your name: </label>
        <input name="name" type="text"><br>
        <label for="location">Dojo Location: </label>
        <input name="location" type="text"><br>
        <label for="language">Favorite Language: </label>
        <select name="language">
            <option value="C#">C#</option>
            <option value="JavaScript">JavaScript</option>
            <option value="Python">Python</option>
        </select><br>
        <label for="comment">Comment: </label>
        <textarea name="comment" id="" cols="30" rows="10"></textarea><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>